<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>All Events</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${events} and ${events.size()}">No events!</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td><a th:text="${event.name}" th:href="@{/events/details/{id}(id=${event.id})}"></a></td>
<!--            <td>-->
<!--                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>-->
<!--            </td>-->
        </tr>
    </table>
</body>
</html>